.form-container {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin {
    text-align: center;
}

.btn-block {
    margin-top: 15px;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}
